* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', arial, sans-serif;
    overflow-x: hidden; /* Ignorar barra horizontal */
}

/* CSS DA INTERFACE */

header {
    height: 100px;
    background-color: black;
    
}

.conteiner {
    max-width: 1140px;
    color: white;
    height: 100px;
    margin: auto; /* Centralizando */
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

.logo img {
    width: 60px;
    height: 60px;
}

.buttom {
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 45px;
    background-color: #b98b59;
    border-radius: 25px;
    margin-top: 28px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    font-weight: 600; /* Tamanho de fonte importada */
    height: 100px;
    display: flex; /* Aumento de altura para borda */
    align-items: center;
    border-bottom: 5px solid black;
}

.menu li a:hover,
.menu li .active {
    border-bottom: 5px solid #b98b59;
    color: #CCC;
}

.banner {
    height: calc(100vh - 100px); /* Funcao para deixar o banner do tamanho da tela do usuario */
    background-color: #333; /* Fundo caso a imagem carregue */
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Conteudo excedente sera ignorado */
}

.banner .sliders { /* Tamaho referente ao total de slides */
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .areaslide {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.banner .areaslide h1 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

.banner .areaslide span {
    color: #b98b59;
}

.banner .areaslide p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

.banner .pointer {
    width: 100%;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner .pointer .circle {
    width: 15px;
    height: 15px;
    border: 2px solid #b98b59;
    border-radius: 50%;
    cursor: pointer;
}

.banner .active-pointer {
    background-color: #b98b59;
}

.default {
    padding-top: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: #aeaeae;
    margin-top: 15px;
    margin-bottom: 40px;
}

.default .section-body {
    margin: auto;
    max-width: 1140px;
    margin-bottom: 40px;
}

.dark-color {
    background-color: black;
    padding-bottom: 40px;
}

.dark-color .section-title {
    color: white;
}










/* CSS ESPECIFICO */

.section-aboutus {
    display: flex;
}

.section-aboutus-left {
    flex: 1;
    margin-right: 20px;
}

.section-aboutus-right {
    width: 500px;
    text-align: center;
}

.section-aboutus-right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-aboutus-left p {
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
}

.section-services {
    display: flex;
}

.section-services .section-service {
    color: white;
    flex: 1;
    text-align: center;
    border-left: 1px solid #999;
    padding: 15px;
}

.section-service:last-child {
    border-right: 1px solid #999;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 12px;
    color: #CCC;
}

.section-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-projects-filters {
    border: 1px solid #CCC;
    background-color: #ededed;
    border-radius: 20px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects-filters ul,
.section-projects-filters li {
    list-style: none;
}

.section-projects-filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    cursor: pointer;
    border-bottom: 3px solid #ededed;
}

.section-projects-filters .active {
    border-bottom: 3px solid #b98b59;
}

.section-projects-filters li:hover {
    border-bottom: 3px solid #b98b59;
}

.section-projects-filters li:first-child {
    border-left: none;
}

.section-photos {
    width: 100%; /* Usando o maximo da tela */
    max-width: 1140px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.section-photo {
    width: 260px;
    height: 170px;
}

.section-photo .photo-area {
    width: inherit;
    height: inherit;
}

.section-photo .photo-area:hover .photo-area-info{
    display: flex;
}

.section-photo .photo-area img {
    width: inherit;
    height: inherit;
}

.photo-area-info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 40px;
    gap: 15px;
}

.photo-area-info h5 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.photo-area-info p {
    font-size: 14px;
    text-align: center;
}